@use './variables' as *

body
 height: 100vh
 font: 16px $primary-font
    
a 
 text-decoration: none

.title
 font: 30px/30.63px $title-font
 padding: 21px 0 25px 0

.header-block__title,
.game-intro__title,
.immersion__title
 color: $primary-color

.giveaway__title,
.purchase__title
 color: $tertiary-color

.game-intro__description
 color: $color-text-and-border    

.colored-text
 color: $selection-color
 font-family: $selection-font

.content__text
 color: $color-text-and-border