@use 'variables' as *
@use 'mixins' as *

.game-intro__image-1,
.game-intro__image-2,
.game-intro__image-3 
 background-size: cover
 width: 320px

.game-intro__image-1
 height: 196px

.game-intro__image-2
 height: 196px
 margin: 32px 0

.game-intro__image-3
 height: 424px

.giveaway__image-1,
.giveaway__image-2
 width: 131px
 height: 132px

.giveaway__dots-white,
.giveaway__dots-yellow
 height: 70px
 width: 320px

.immersion-monitor__img
 width: 296px
 height: 204px

.immersion__icon-1 svg
 width: 43.85px
 height: 44px

.immersion__icon-2 svg
 height: 12px
 width: 49.33px

.immersion__icon-3
 width: 176px
 height: 44px

