$primary-color: #000000
$secondary-color: #F8F200
$tertiary-color: #fff
$color-text-and-border: #4F4F4F
$title-font: "Archangelsk", sans-serif
$primary-font: "Roboto-Regular", sans-serif
$form-font: "Roboto-Light", sans-serif
$selection-font: "Roboto-Bold", sans-serif
$selection-color: #52BEDC
$background-color: #F8F200

$mobile-b-width: 420px
$tablet-width: 660px
$laptop-s-width: 952px
$laptop-l-width: 1292px

