.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -moz-overflow: hidden;
  -o-overflow: hidden;
  -ms-overflow: hidden;
  -webkit-overflow: hidden;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 296px;
  padding: 0px 12px;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 20px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 10;
}

.header__icons-list {
  position: absolute;
  top: 52px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 320px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 10;
}

.header-yellow-block {
  position: relative;
  z-index: 10;
}

.header-block__container {
  position: absolute;
  text-align: center;
  top: -157px;
  padding: 10px 0 30px 0;
  margin: 0 -12px;
  background: linear-gradient(135deg, transparent 35px, #F8F200 0) top left, linear-gradient(315deg, transparent 35px, #F8F200 0) bottom right;
  background-repeat: no-repeat;
  background-size: 55% 100%;
}

.header-block__title {
  margin: 0 20px;
}

.header__text {
  color: #F8F200;
  font: 20px "Roboto-Bold", sans-serif;
}

.button {
  height: 60px;
  border: none;
  cursor: pointer;
}

.header__button {
  width: 244px;
  padding: 19px 50px;
  background-color: #000000;
}